/* TradePage.css */
.trade-page-container {
    display: flex;
    flex-direction: column; /* Adjust to column layout */
    align-items: center; /* Center content horizontally */
    justify-content: space-between;
    height: 100vh; /* Make sure the container takes the full height of the viewport */
  }
  
  .selected-item-box,
  .user-items-box {
    width: 45%;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
  }
  
  .confirm-offer-section {
    text-align: center;
    margin-bottom: 20px;
  }
  