/* TradePage.css */
.trade-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.selected-item-box,
.user-items-box {
  width: 90%;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  margin: 0 auto; 
}

.selected-item-box img,
.user-items-box img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.confirm-offer-section {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  text-align: center;
  padding: 10px;
  margin-bottom: 50px; 
}

.confirm-offer-section button,
.user-items-box button {
  display: flex;
  width: 150px; 
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--orange, #F1B686);
}

.confirm-text {
  margin-bottom: 10px;
}

.user-items-box ul {
  list-style-type: none;
  padding: 0;
}

.user-items-box li {
  max-width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.user-items-box p {
  margin: 0; 
}

.user-items-box button {
  margin-top: 10px;
}
